<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="true"
         stopOnFailure="true"
         syntaxCheck="false"
         bootstrap="vendor/autoload.php">

    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"
                  file="vendor/mockery/mockery/library/Mockery/Adapter/Phpunit/TestListener.php"> </listener>
    </listeners>

    <filter>
        <whitelist>
            <directory>./src/Barberry/</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite>
            <directory>test</directory>
        </testsuite>
    </testsuites>

</phpunit>